<launch>
  <!-- Robot description argument -->
  <arg name="robot_description" value="cobotta_description" />

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <param name="robot_description" type="str" textfile="$(find denso_cobotta_descriptions)/cobotta_description/cobotta.urdf"/>

  <!-- Controller -->
  <node name="denso_cobotta_control" pkg="denso_cobotta_control" type="denso_cobotta_control" output="screen" ns="/cobotta"  />

  <rosparam file="$(find denso_cobotta_descriptions)/cobotta_description/denso_cobotta_control.yaml" command="load" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
   ns="/cobotta" args="joint_state_controller arm_controller" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" 
        type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/cobotta/joint_states" />
  </node>

</launch>
