<launch>
 
  <!-- gripper type: none/parallel/vacuum --> 
  <arg name="gripper_type" default="parallel"/>
  <group ns="/cobotta">
    <param name="gripper_type" value="$(arg gripper_type)"/>
  </group>

  <!-- Driver node -->
  <include file="$(find denso_cobotta_driver)/launch/denso_cobotta_driver.launch">
    <arg name="enable_calset" value="false" />
  </include>

  <!-- Control node -->
  <include file="$(find denso_cobotta_control)/launch/denso_cobotta_control.launch"/>
  
  <!-- Gripper node -->
  <group if="$(eval arg('gripper_type') != 'none')">
    <include file="$(find denso_cobotta_gripper)/launch/denso_cobotta_gripper.launch">
      <arg name="gripper_type" value="$(arg gripper_type)"/>
    </include>
  </group>

  <!-- load the robot_description parameter before launching ROS-I nodes -->
  <include file="$(find denso_cobotta_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
    <arg name="gripper_type" value="$(arg gripper_type)"/>
  </include>

  <include file="$(find denso_cobotta_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
    <arg name="gripper_type" value="$(arg gripper_type)"/>
  </include>

  <include file="$(find denso_cobotta_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>
  
</launch>
