<?xml version="1.0" encoding="UTF-8"?>
<robot name="cobotta" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="namespace" default=""/>
  <xacro:property name="namespace" value="$(arg namespace)" />
  <xacro:arg name="robot_name" default="/cobotta"/>
  <xacro:property name="robot_name" value="$(arg robot_name)" />
  <xacro:arg name="robot_description" default="robot_description"/>
  <xacro:property name="robot_description" value="$(arg robot_description)" />
  <xacro:arg name="gripper_type" default="parallel"/>
  <xacro:property name="gripper_type" value="$(arg gripper_type)" />

  <xacro:include filename="cobotta.body.urdf.xacro" />
  <xacro:cobotta_robot namespace="${namespace}"
                       robot_description="${robot_description}"
                       robot_name="${robot_name}" />
  <xacro:if value="${gripper_type != 'none'}">
    <xacro:include filename="${gripper_type}.body.urdf.xacro" />
    <xacro:cobotta_gripper namespace="${namespace}" />
  </xacro:if>
</robot>
