<?xml version="1.0" encoding="UTF-8"?>
<robot name="cobotta" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="namespace" default=""/>
  <xacro:property name="namespace" value="$(arg namespace)" />
  <xacro:include filename="vacuum.body.urdf.xacro" />
  <xacro:cobotta_gripper namespace="${namespace}">
</robot>
