<?xml version="1.0" encoding="UTF-8"?>
<robot name="cobotta" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<link name="vacuum_base">
		<visual>
			<origin rpy="0 0 0" xyz="0.000000 0.000000 -0.087500"/>
			<geometry>
				<mesh filename="package://denso_cobotta_descriptions/cobotta_description/vacuum.dae" scale="1 1 1"/>
			</geometry>
		</visual>
		<collision>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
				<mesh filename="package://denso_cobotta_descriptions/cobotta_description/vacuum.dae" scale="1 1 1"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="1"/>
			<origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.000000"/>
			<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
		</inertial>
	</link>
	<joint name="joint_vacuum_base" type="fixed">
		<parent link="J6"/>
		<child link="vacuum_base"/>
		<origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.0875000"/>
	</joint>
	<link name="pad">
		<visual>
			<origin rpy="0 0 0" xyz="0.000000 0.000000 0.000000"/>
			<geometry>
				<mesh filename="package://denso_cobotta_descriptions/cobotta_description/pad.dae" scale="1 1 1"/>
			</geometry>
		</visual>
		<collision>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
				<mesh filename="package://denso_cobotta_descriptions/cobotta_description/pad.dae" scale="1 1 1"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="1"/>
			<origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.000000"/>
			<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
		</inertial>
	</link>
	<joint name="joint_pad" type="fixed">
		<parent link="vacuum_base"/>
		<child link="pad"/>
		<origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.0000000"/>
	</joint>
</robot>